#wrapper {
	width: 1000px; 
	margin: 0 auto; 
}

h1 { 
	text-align: center;
	color: white;
	font-size: 80px;
}

body {
	text-align: center;
	margin: 30px;
	background-image: url('http://www.seanshannonphotography.com/wp-content/uploads/2011/04/Downtown-Seattle-1024x679(pp_w940_h623).jpg'); 
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

h2 { 
	text-align: center;
	color: white;
	font-size: 40px;
}

p {
	text-align: center;
	color: white;
	font-size: 20px;
}

#sector {
	background-color: white;
	color: black;
}

#map {
	margin-left: 100px;
	text-align: center;
	height: 500px;
	width: 800px;
	border-radius: 20px;
}

form {
	margin-left: 400px;
	width: 200px;
	text-align: center;
}