<% include ../partials/header.ejs %>

<div class="container-fluid">
	<a href="/auth/logout" class="btn btn-primary">Logout</a>
	<br>
	<div class="row">
		<div class="col-md-8">
			<div id='map'></div>
		</div>		
		<div class="col-md-4">	
			<div id="sector">
			<div id="nw" style="display: none">
				<h2>Northwest Seattle Sector</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
			<div id="ne" style="display: none">
				<h2>Northeast Seattle Sector</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
			<div id="cw"style="display: none">
				<h2>Downtown Sector</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
			<div id="ce" style="display: none">
				<h2>Capitol Hill</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
			<div id="sw" style="display: none">
				<h2>West Seattle Sector</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
			<div id="se" style="display: none">
				<h2>South Seattle Sector</h2>
				<h3>path 1</h3>
				<h3>path 2</h3>
				<h3>path 3</h3>
				<h3>path 4</h3>
				<h3>path 5</h3>
			</div>
		</div>
	</div>
</div>

<script src="http://www.google.com/jsapi?key=<%= gmapsApi %>"></script>
<script>
	(function () {
		google.load("maps", "2");
		google.setOnLoadCallback(function () {
			// Create map
			var map = new google.maps.Map2(document.getElementById("map")),
				markOutLocation = function (lat, long) {
					var latLong = new google.maps.LatLng(lat, long),
					marker = new google.maps.Marker(latLong);
					map.setCenter(latLong, 15);
					map.addOverlay(marker);
					console.log(latLong);
				};
				map.setUIToDefault();

			// Check for geolocation support	
			if (navigator.geolocation) {
				// Get current position
				navigator.geolocation.getCurrentPosition(function (position) {
						// Success!
						markOutLocation(position.coords.latitude, position.coords.longitude);
						console.log(position.coords.latitude, position.coords.longitude);
						if (position.coords.latitude >= 47.647 && position.coords.longitude <= -122.335) {
							//do this;
							console.log('user is in the North-West sector');
							document.getElementById("nw").style.display = "block";
						} else if (position.coords.latitude >= 47.647 && position.coords.longitude > -122.335) {
							//do this;
							console.log('user is in the North-East sector');
							document.getElementById("ne").style.display = "block";
						} else if (position.coords.latitude < 47.647 && position.coords.latitude >= 47.601 && position.coords.longitude <= -122.320) {
							//do this;
							console.log('user is in the Central-West sector');
							document.getElementById("cw").style.display = "block";
						} else if (position.coords.latitude < 47.647 && position.coords.latitude >= 47.601 && position.coords.longitude > -122.320) {
							//do this;
							console.log('user is in the Central-East sector');
							document.getElementById("ce").style.display = "block";
						} else if (position.coords.latitude < 47.601 && position.coords.longitude <= -122.343) {
							//do this;
							console.log('user is in the South-West sector');
							document.getElementById("sw").style.display = "block";
						} else {
							//do this;
							console.log('user is in the South-East sector');
							document.getElementById("se").style.display = "block";
						}
					}, 
					function () {
						markOutLocation(47.572747, -122.384262);
					}
				);
			}
			else {
				markOutLocation(47.572747, -122.384262);
			}
		});	
	})();

</script>

<% include ../partials/footer.ejs %>

